@import "tailwindcss";

:root {
  --background: #f5f7fb;      /* soft dashboard bg */
  --foreground: #0f172a;      /* dark text */
  --card: #ffffff;            /* cards */
  --primary: #2563eb;         /* blue */
  --muted: #64748b;           /* secondary text */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-primary: var(--primary);
  --color-muted: var(--muted);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
